{% extends "layout.html" %} 
{% block body %} 

{% if not session.user %} 
{% for message in get_flashed_messages() %}
<div class="alert alert-info">
  <a href="/" class="close" data-dismiss="alert">&times;</a>
  <strong>注意!</strong>{{message}}
</div>
{% endfor %} 
{% endif %}


<div class="login">
  <div class="login-screen">
    <div class="login-icon">
      <img src="static/images/login/icon.png" alt="Welcome to Mail App" />
      <h4>欢迎登入
        <small>学生成绩管理系统(SSMS)</small>
      </h4>
    </div>

    <form action="{{ url_for('login') }}" method=post class="form-horizontal">

      <div class="login-form">
        <div class="form-group">
          <input type="text" class="form-control login-field" value="" placeholder="请输入账号名称" id="login-name" name="username" /> 
          {% if error=="username" %}
          <div class="control-group error">
            <div class="controls">
              <span class="help-inline" id="inputUserNameError">用户名或密码不正确</span>
            </div>

          </div>
          {% endif %}
        </div>

        <div class="form-group">
          <input type="password" class="form-control login-field" value="" placeholder="请输入账号密码" id="login-pass" name="password" /> 
          {% if error=="password" %}
          <div class="controls">
            <span class="help-inline">用户名或密码不正确</span>
          </div>
          {% endif %}
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block" href="#">登入</button>
        <a class="login-link" href="#">忘记密码?</a>
      </div>

    </form>

  </div>
</div>

{% endblock %}